kmdp-ccg-model/src/main/resources/xsd/ClinicalConceptGlossary/services/library/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://kmdp.mayo.edu/ccg/services/library"
            xmlns:xmi="http://www.omg.org/spec/XMI/20131001"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="http://kmdp.mayo.edu/ccg/services/library">
   <xs:element name="conceptGlossary" type="ConceptGlossary"/>
   <xs:complexType xmi:id="_kxwWO9RREeesZOluH2h1gg"
                    name="ConceptGlossary"
                    abstract="true">
      <xs:group ref="ConceptGlossary.content"/>
      <xs:attributeGroup ref="ConceptGlossary.attrs"/>
   </xs:complexType>
   <xs:group name="ConceptGlossary.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="ConceptGlossary.attrs">
      <xs:attribute name="focus2Proposition" type="xs:anySimpleType"/>
      <xs:attribute name="proposition2Focus" type="xs:anySimpleType"/>
   </xs:attributeGroup>
</xs:schema>
