kmdp-ccg-model/src/main/resources/xsd/ClinicalConceptGlossary/model/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://kmdp.mayo.edu/ccg/model"
            xmlns:ns1="https://www.omg.org/spec/API4KP/20200801/taxonomy/KRSerialization"
            xmlns:ns10="https://www.omg.org/spec/API4KP/20200801/taxonomy/ISO639-2-LanguageCode"
            xmlns:ns11="https://www.omg.org/spec/API4KP/20200801/taxonomy/Lexicon"
            xmlns:ns12="https://www.omg.org/spec/API4KP/20200801/taxonomy/KnowledgeAssetType"
            xmlns:ns13="https://www.omg.org/spec/API4KP/20200801/id"
            xmlns:ns14="https://www.omg.org/spec/API4KP/20200801/taxonomy/LanguageRole"
            xmlns:ns15="https://www.omg.org/spec/API4KP/20200801/taxonomy/KnowledgeAssetCategory"
            xmlns:ns16="https://ontology.mayo.edu/taxonomies/ClinicalTasks/20190801/"
            xmlns:ns17="https://www.omg.org/spec/API4KP/20200801/taxonomy/ParsingLevel"
            xmlns:ns18="https://www.omg.org/spec/API4KP/20200801/taxonomy/KRProfile"
            xmlns:ns2="https://www.omg.org/spec/API4KP/20200801/taxonomy/KRFormat"
            xmlns:ns3="https://www.omg.org/spec/API4KP/20200801/taxonomy/KnowledgeProcessingTechnique"
            xmlns:ns4="https://www.omg.org/spec/API4KP/20200801/taxonomy/KRLanguage"
            xmlns:ns5="https://www.omg.org/spec/API4KP/20200801/taxonomy/KnowledgeArtifactCategory"
            xmlns:ns6="https://ontology.mayo.edu/taxonomies/propositionalconcepts/20190801/"
            xmlns:ns7="https://ontology.mayo.edu/taxonomies/clinicalsituations/20190801/"
            xmlns:ns8="https://ontology.mayo.edu/taxonomies/KMDO/RelatedConcept"
            xmlns:ns9="https://www.omg.org/spec/API4KP/20200801/taxonomy/KnowledgeAssetRole"
            xmlns:xmi="http://www.omg.org/spec/XMI/20131001"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="http://kmdp.mayo.edu/ccg/model">
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/KRSerialization"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/KRFormat"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/KnowledgeProcessingTechnique"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/KRLanguage"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/KnowledgeArtifactCategory"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/propositionalconcepts/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/clinicalsituations/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KMDO/RelatedConcept"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/KnowledgeAssetRole"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/ISO639-2-LanguageCode"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/Lexicon"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/KnowledgeAssetType"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/id"
               schemaLocation="../../API4KP/api4kp/id/id.xsd"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/LanguageRole"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/KnowledgeAssetCategory"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/ClinicalTasks/20190801/"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/ParsingLevel"/>
   <xs:import namespace="https://www.omg.org/spec/API4KP/20200801/taxonomy/KRProfile"/>
   <xs:element name="glossary" type="Glossary"/>
   <xs:complexType xmi:id="_kxwUpdRREeesZOluH2h1gg" name="Glossary">
      <xs:group ref="Glossary.content"/>
      <xs:attributeGroup ref="Glossary.attrs"/>
   </xs:complexType>
   <xs:group name="Glossary.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://www.omg.org/spec/API4KP/20200801/id"
                      name="glossaryId"
                      minOccurs="1"
                      maxOccurs="1"
                      type="tns:ResourceIdentifier"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/ccg/model"
                      name="entries"
                      type="tns:GlossaryEntry"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Glossary.attrs">
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="description" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="knowledgeResourceRef" type="KnowledgeResourceRef"/>
   <xs:complexType xmi:id="_kxwUvNRREeesZOluH2h1gg" name="KnowledgeResourceRef">
      <xs:group ref="KnowledgeResourceRef.content"/>
      <xs:attributeGroup ref="KnowledgeResourceRef.attrs"/>
   </xs:complexType>
   <xs:group name="KnowledgeResourceRef.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://www.omg.org/spec/API4KP/20200801/id"
                      name="resourceId"
                      minOccurs="0"
                      maxOccurs="1"
                      type="tns:ResourceIdentifier"/>
         <xs:element xmlns:tns="https://www.omg.org/spec/API4KP/20200801/taxonomy/KnowledgeAssetType"
                      name="contentType"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:KnowledgeAssetType"/>
         <xs:element xmlns:tns="https://www.omg.org/spec/API4KP/20200801/taxonomy/KRLanguage"
                      name="exprLanguage"
                      minOccurs="0"
                      maxOccurs="1"
                      type="tns:KnowledgeRepresentationLanguage"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="KnowledgeResourceRef.attrs">
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="description" type="xs:string"/>
      <xs:attribute name="inlinedExpr" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="glossaryEntry" type="GlossaryEntry"/>
   <xs:complexType xmi:id="_kxwUxtRREeesZOluH2h1gg" name="GlossaryEntry">
      <xs:group ref="GlossaryEntry.content"/>
      <xs:attributeGroup ref="GlossaryEntry.attrs"/>
   </xs:complexType>
   <xs:group name="GlossaryEntry.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/ccg/model"
                      name="relatedEntries"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:GlossaryEntry"/>
         <xs:element xmlns:tns="https://www.omg.org/spec/API4KP/20200801/id"
                      name="propositionalConcept"
                      minOccurs="1"
                      maxOccurs="1"
                      type="tns:ConceptIdentifier"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/ccg/model"
                      name="def"
                      type="tns:Definition"
                      minOccurs="1"
                      maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/ccg/model"
                      name="relatedTo"
                      type="tns:RelatedEntry"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="GlossaryEntry.attrs"/>
   <xs:element name="operationalDefinition" type="OperationalDefinition"/>
   <xs:complexType xmi:id="_kxwU5NRREeesZOluH2h1gg" name="OperationalDefinition">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/ccg/model" base="tns:Definition">
            <xs:group ref="OperationalDefinition.content"/>
            <xs:attributeGroup ref="OperationalDefinition.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="OperationalDefinition.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://www.omg.org/spec/API4KP/20200801/id"
                      name="scope"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:ConceptIdentifier"/>
         <xs:element xmlns:tns="https://www.omg.org/spec/API4KP/20200801/taxonomy/KnowledgeProcessingTechnique"
                      name="method"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:KnowledgeProcessingTechnique"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/ccg/model"
                      name="inputs"
                      type="tns:InputDefinition"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/ccg/model"
                      name="computableSpec"
                      type="tns:KnowledgeResourceRef"
                      minOccurs="0"
                      maxOccurs="1"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/ccg/model"
                      name="includes"
                      type="tns:OperationalDefinition"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/ccg/model"
                      name="background"
                      type="tns:KnowledgeResourceRef"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="OperationalDefinition.attrs">
      <xs:attribute name="default" use="required" type="xs:boolean"/>
      <xs:attribute name="datatype" type="xs:anyURI"/>
      <xs:attribute name="asCollection" type="xs:boolean"/>
   </xs:attributeGroup>
   <xs:element name="inputDefinition" type="InputDefinition"/>
   <xs:complexType xmi:id="_kxwU-tRREeesZOluH2h1gg" name="InputDefinition">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/ccg/model" base="tns:Definition">
            <xs:group ref="InputDefinition.content"/>
            <xs:attributeGroup ref="InputDefinition.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="InputDefinition.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="InputDefinition.attrs"/>
   <xs:element name="definition" type="Definition"/>
   <xs:complexType xmi:id="_kxwVBtRREeesZOluH2h1gg" name="Definition" abstract="true">
      <xs:annotation>
         <xs:appinfo>
            <subTypes xmlns="">
               <subType name="OperationalDefinition"
                         type="tns:OperationalDefinition"
                         about=""/>
               <subType name="InputDefinition" type="tns:InputDefinition" about=""/>
            </subTypes>
         </xs:appinfo>
      </xs:annotation>
      <xs:group ref="Definition.content"/>
      <xs:attributeGroup ref="Definition.attrs"/>
   </xs:complexType>
   <xs:group name="Definition.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://www.omg.org/spec/API4KP/20200801/id"
                      name="focalConcept"
                      minOccurs="1"
                      maxOccurs="1"
                      type="tns:ConceptIdentifier"/>
         <xs:element xmlns:tns="https://www.omg.org/spec/API4KP/20200801/id"
                      name="propositionalConcept"
                      minOccurs="1"
                      maxOccurs="1"
                      type="tns:ConceptIdentifier"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/ccg/model"
                      name="semanticDef"
                      type="tns:KnowledgeResourceRef"
                      minOccurs="1"
                      maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Definition.attrs">
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="description" type="xs:string"/>
      <xs:attribute name="_id" use="required" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="relatedEntry" type="RelatedEntry"/>
   <xs:complexType xmi:id="_So6mMCQBEeihz8vRKufsoA" name="RelatedEntry">
      <xs:group ref="RelatedEntry.content"/>
      <xs:attributeGroup ref="RelatedEntry.attrs"/>
   </xs:complexType>
   <xs:group name="RelatedEntry.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KMDO/RelatedConcept"
                      name="type"
                      minOccurs="0"
                      maxOccurs="1"
                      type="tns:RelatedConcept"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/ccg/model"
                      name="entry"
                      type="tns:GlossaryEntry"
                      minOccurs="1"
                      maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="RelatedEntry.attrs"/>
</xs:schema>
