kmdp-asset-metadata/src/main/resources/xsd/API4KP/api4kp/identifiers/identifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.omg.org/spec/API4KP/1.0/identifiers"
           xmlns:xmi="http://www.omg.org/spec/XMI/20131001"
           xmlns:ns1="http://www.omg.org/spec/API4KP/1.0/datatypes"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.omg.org/spec/API4KP/1.0/identifiers">
   <xs:import namespace="http://www.omg.org/spec/API4KP/1.0/datatypes"
              schemaLocation="../datatypes/datatypes.xsd"/>
   <xs:element name="uRIIdentifier" type="URIIdentifier"/>
   <xs:complexType xmi:id="_YM5EQBG6EeiXW_CUTPoj2g" name="URIIdentifier">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers" base="tns:ID">
            <xs:group ref="URIIdentifier.content"/>
            <xs:attributeGroup ref="URIIdentifier.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="URIIdentifier.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="URIIdentifier.attrs">
      <xs:attribute name="uri" use="required" type="xs:anyURI"/>
      <xs:attribute name="versionId" type="xs:anyURI"/>
   </xs:attributeGroup>
   <xs:element name="simpleIdentifier" type="SimpleIdentifier"/>
   <xs:complexType xmi:id="_OzuYoBG-EeiXW_CUTPoj2g" name="SimpleIdentifier">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers" base="tns:ID">
            <xs:group ref="SimpleIdentifier.content"/>
            <xs:attributeGroup ref="SimpleIdentifier.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="SimpleIdentifier.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="SimpleIdentifier.attrs">
      <xs:attribute name="tag" use="required" type="xs:string"/>
      <xs:attribute name="format" type="xs:anyURI"/>
   </xs:attributeGroup>
   <xs:element name="qualifiedIdentifier" type="QualifiedIdentifier"/>
   <xs:complexType xmi:id="_c9yS0CQCEeihz8vRKufsoA" name="QualifiedIdentifier">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers" base="tns:ID">
            <xs:group ref="QualifiedIdentifier.content"/>
            <xs:attributeGroup ref="QualifiedIdentifier.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="QualifiedIdentifier.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="QualifiedIdentifier.attrs">
      <xs:attribute name="qName" use="required" type="xs:QName"/>
   </xs:attributeGroup>
   <xs:element name="versionIdentifier" type="VersionIdentifier"/>
   <xs:complexType xmi:id="_OmqWoCb_EeiGrqvyHUds2Q" name="VersionIdentifier">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                       base="tns:SimpleIdentifier">
            <xs:group ref="VersionIdentifier.content"/>
            <xs:attributeGroup ref="VersionIdentifier.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="VersionIdentifier.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                     name="versioning"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tns:VersionTagType"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="VersionIdentifier.attrs">
      <xs:attribute name="version" use="required" type="xs:anySimpleType"/>
   </xs:attributeGroup>
   <xs:element name="iD" type="ID"/>
   <xs:complexType xmi:id="_krJ38DHIEei6yfLjYxGyzQ" name="ID" abstract="true">
      <xs:annotation>
         <xs:appinfo>
            <subTypes xmlns="">
               <subType name="URIIdentifier" type="tns:URIIdentifier" about=""/>
               <subType name="SimpleIdentifier" type="tns:SimpleIdentifier" about=""/>
               <subType name="VersionIdentifier" type="tns:VersionIdentifier" about=""/>
               <subType name="GAVIdentifier" type="tns:GAVIdentifier" about=""/>
               <subType name="UUIDentifier" type="tns:UUIDentifier" about=""/>
               <subType name="QualifiedIdentifier" type="tns:QualifiedIdentifier" about=""/>
               <subType name="NamespaceIdentifier"
                        type="tns:NamespaceIdentifier"
                        about="http://www.w3.org/2004/02/skos/core#ConceptScheme"/>
            </subTypes>
         </xs:appinfo>
      </xs:annotation>
      <xs:group ref="ID.content"/>
      <xs:attributeGroup ref="ID.attrs"/>
   </xs:complexType>
   <xs:group name="ID.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="ID.attrs">
      <xs:attribute name="establishedOn" type="xs:dateTime"/>
   </xs:attributeGroup>
   <xs:element name="conceptIdentifier" type="ConceptIdentifier"/>
   <xs:complexType xmi:id="_EdD5IDznEeiX9L9i7GIh0w" name="ConceptIdentifier">
      <xs:group ref="ConceptIdentifier.content"/>
      <xs:attributeGroup ref="ConceptIdentifier.attrs"/>
   </xs:complexType>
   <xs:group name="ConceptIdentifier.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/datatypes"
                     name="conceptUUID"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tns:UUID"/>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                     name="namespace"
                     type="tns:NamespaceIdentifier"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ConceptIdentifier.attrs">
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="tag" type="xs:string"/>
      <xs:attribute name="ref" type="xs:anyURI"/>
      <xs:attribute name="conceptId" use="optional" type="xs:anyURI"/>
   </xs:attributeGroup>
   <xs:element name="gAVIdentifier" type="GAVIdentifier"/>
   <xs:complexType xmi:id="_yqpfYD4CEeiX9L9i7GIh0w" name="GAVIdentifier">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                       base="tns:VersionIdentifier">
            <xs:group ref="GAVIdentifier.content"/>
            <xs:attributeGroup ref="GAVIdentifier.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="GAVIdentifier.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="GAVIdentifier.attrs">
      <xs:attribute name="namespace" use="required" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="pointer" type="Pointer"/>
   <xs:complexType xmi:id="_Opvj4FRyEeiseY4eaZPeLw" name="Pointer">
      <xs:group ref="Pointer.content"/>
      <xs:attributeGroup ref="Pointer.attrs"/>
   </xs:complexType>
   <xs:group name="Pointer.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                     name="entityRef"
                     type="tns:URIIdentifier"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Pointer.attrs">
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="summary" type="xs:string"/>
      <xs:attribute name="type" use="required" type="xs:anyURI"/>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
   </xs:attributeGroup>
   <xs:element name="namespaceIdentifier" type="NamespaceIdentifier"/>
   <xs:complexType xmi:id="_xH4qoKDzEeieZqagTJhmAQ" name="NamespaceIdentifier">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers" base="tns:ID">
            <xs:group ref="NamespaceIdentifier.content"/>
            <xs:attributeGroup ref="NamespaceIdentifier.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="NamespaceIdentifier.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                     name="versioning"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tns:VersionTagType"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="NamespaceIdentifier.attrs">
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="version" type="xs:anySimpleType"/>
      <xs:attribute name="tag" type="xs:string"/>
      <xs:attribute name="id" use="optional" type="xs:anyURI"/>
   </xs:attributeGroup>
   <xs:element name="uUIDentifier" type="UUIDentifier"/>
   <xs:complexType xmi:id="_AOm8gLbJEei8RJX2xKRmqg" name="UUIDentifier">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                       base="tns:SimpleIdentifier">
            <xs:group ref="UUIDentifier.content"/>
            <xs:attributeGroup ref="UUIDentifier.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="UUIDentifier.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="UUIDentifier.attrs"/>
   <xs:simpleType name="IDFormats">
      <xs:restriction base="xs:string">
         <xs:enumeration value="UUID"/>
         <xs:enumeration value="OID"/>
         <xs:enumeration value="URI"/>
         <xs:enumeration value="IRI"/>
         <xs:enumeration value="QName"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VersionTagType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Generic"/>
         <xs:enumeration value="Sequential"/>
         <xs:enumeration value="Timestamp"/>
         <xs:enumeration value="SemVer"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
