kmdp-asset-metadata/src/main/resources/xsd/metadata/surrogate/surrogate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://kmdp.mayo.edu/metadata/surrogate"
           xmlns:xmi="http://www.omg.org/spec/XMI/20131001"
           xmlns:ns1="https://ontology.mayo.edu/taxonomies/KRProfile/20190801/"
           xmlns:ns2="https://ontology.mayo.edu/taxonomies/MIMEType"
           xmlns:ns3="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeAssetRole/20190801/"
           xmlns:ns4="https://ontology.mayo.edu/taxonomies/KRFormat/20190801/"
           xmlns:ns5="https://ontology.mayo.edu/taxonomies/KAO/PublicationEventType/20190801/"
           xmlns:ns6="https://ontology.mayo.edu/taxonomies/API4KP/ParsingLevel/20190801/"
           xmlns:ns7="https://ontology.mayo.edu/taxonomies/KRLanguage/20190801/"
           xmlns:ns8="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeArtifactCategory"
           xmlns:ns9="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeAssetType/20190801/"
           xmlns:ns10="https://ontology.mayo.edu/taxonomies/KMDO/AnnotationRelType/20190801/"
           xmlns:ns11="https://ontology.mayo.edu/taxonomies/ISO639-2-LanguageCodes/20190201/"
           xmlns:ns12="https://ontology.mayo.edu/taxonomies/KRSerialization/20190801/"
           xmlns:ns13="https://ontology.mayo.edu/taxonomies/KAO/LanguageRole/20190801/"
           xmlns:ns14="https://ontology.mayo.edu/taxonomies/KAO/Rel/StructuralRelType/20190801/"
           xmlns:ns15="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeAssetCategory/20190801/"
           xmlns:ns16="https://ontology.mayo.edu/taxonomies/KAO/Rel/CitationRelType/2018-02-16"
           xmlns:ns17="https://ontology.mayo.edu/taxonomies/KAO/Rel/DerivationRelType/20190801/"
           xmlns:ns18="http://kmdp.mayo.edu/metadata/annotations"
           xmlns:ns19="https://ontology.mayo.edu/taxonomies/Lexicon/20190801/"
           xmlns:ns20="https://ontology.mayo.edu/taxonomies/KAO/Rel/RelatedVersionType/20190801/"
           xmlns:ns21="http://www.omg.org/spec/API4KP/1.0/identifiers"
           xmlns:ns22="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeProcessingTechnique/20190801/"
           xmlns:ns23="https://ontology.mayo.edu/taxonomies/KAO/PublicationStatus/2014-02-01"
           xmlns:ns24="https://ontology.mayo.edu/taxonomies/KAO/Rel/DependencyRelType/20190801/"
           xmlns:ns25="https://ontology.mayo.edu/taxonomies/KAO/PublishingRole/2017-09-04"
           xmlns:ns26="https://ontology.mayo.edu/taxonomies/KAO/Rel/SummaryRelType/20190801/"
           xmlns:ns27="https://ontology.mayo.edu/taxonomies/KAO/Rel/VariantRelType/20190801/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://kmdp.mayo.edu/metadata/surrogate">
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KRProfile/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/MIMEType"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeAssetRole/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KRFormat/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/PublicationEventType/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/API4KP/ParsingLevel/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KRLanguage/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeArtifactCategory"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeAssetType/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KMDO/AnnotationRelType/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/ISO639-2-LanguageCodes/20190201/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KRSerialization/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/LanguageRole/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/Rel/StructuralRelType/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeAssetCategory/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/Rel/CitationRelType/2018-02-16"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/Rel/DerivationRelType/20190801/"/>
   <xs:import namespace="http://kmdp.mayo.edu/metadata/annotations"
              schemaLocation="annotations/annotations.xsd"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/Lexicon/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/Rel/RelatedVersionType/20190801/"/>
   <xs:import namespace="http://www.omg.org/spec/API4KP/1.0/identifiers"
              schemaLocation="../../API4KP/api4kp/identifiers/identifiers.xsd"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeProcessingTechnique/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/PublicationStatus/2014-02-01"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/Rel/DependencyRelType/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/PublishingRole/2017-09-04"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/Rel/SummaryRelType/20190801/"/>
   <xs:import namespace="https://ontology.mayo.edu/taxonomies/KAO/Rel/VariantRelType/20190801/"/>
   <xs:element name="knowledgeAsset" type="KnowledgeAsset"/>
   <xs:complexType xmi:id="_EtYPICYUEeihz8vRKufsoA" name="KnowledgeAsset">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                       base="tns:KnowledgeResource">
            <xs:group ref="KnowledgeAsset.content"/>
            <xs:attributeGroup ref="KnowledgeAsset.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="KnowledgeAsset.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeAssetType/20190801/"
                     name="formalType"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="tns:KnowledgeAssetType"/>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeAssetCategory/20190801/"
                     name="formalCategory"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="tns:KnowledgeAssetCategory"/>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeProcessingTechnique/20190801/"
                     name="processingMethod"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="tns:KnowledgeProcessingTechnique"/>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeAssetRole/20190801/"
                     name="role"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="tns:KnowledgeAssetRole"/>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                     name="assetId"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:URIIdentifier"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/annotations"
                     name="subject"
                     type="tns:Annotation"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="carriers"
                     type="tns:KnowledgeArtifact"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/annotations"
                     name="applicableIn"
                     type="tns:Applicability"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="surrogate"
                     type="tns:KnowledgeArtifact"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="KnowledgeAsset.attrs"/>
   <xs:element name="knowledgeArtifact" type="KnowledgeArtifact"/>
   <xs:complexType xmi:id="_zUBhMCYUEeihz8vRKufsoA" name="KnowledgeArtifact">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                       base="tns:KnowledgeResource">
            <xs:group ref="KnowledgeArtifact.content"/>
            <xs:attributeGroup ref="KnowledgeArtifact.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="KnowledgeArtifact.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/ISO639-2-LanguageCodes/20190201/"
                     name="localization"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="tns:Language"/>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                     name="artifactId"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:URIIdentifier"/>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/KnowledgeArtifactCategory"
                     name="expressionCategory"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tns:KnowledgeArtifactCategory"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="inlined"
                     type="tns:InlinedRepresentation"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="summary"
                     type="tns:Summary"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="KnowledgeArtifact.attrs">
      <xs:attribute name="alternativeTitle" type="xs:string"/>
      <xs:attribute name="locator" type="xs:anyURI"/>
   </xs:attributeGroup>
   <xs:element name="inlinedRepresentation" type="InlinedRepresentation"/>
   <xs:complexType xmi:id="_YNx5oDG6Eei6yfLjYxGyzQ" name="InlinedRepresentation">
      <xs:group ref="InlinedRepresentation.content"/>
      <xs:attributeGroup ref="InlinedRepresentation.attrs"/>
   </xs:complexType>
   <xs:group name="InlinedRepresentation.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="InlinedRepresentation.attrs">
      <xs:attribute name="expr" use="required" type="xs:string"/>
      <xs:attribute name="codedRepresentationType" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="knowledgeResource" type="KnowledgeResource"/>
   <xs:complexType xmi:id="_-gTAEDG_Eei6yfLjYxGyzQ"
                   name="KnowledgeResource"
                   abstract="true">
      <xs:annotation>
         <xs:appinfo>
            <subTypes xmlns="">
               <subType name="KnowledgeAsset" type="tns:KnowledgeAsset" about=""/>
               <subType name="KnowledgeArtifact" type="tns:KnowledgeArtifact" about=""/>
               <subType name="PhysicalKnowledgeArtifact"
                        type="tns:PhysicalKnowledgeArtifact"
                        about=""/>
               <subType name="DigitalKnowledgeArtifact"
                        type="tns:DigitalKnowledgeArtifact"
                        about=""/>
               <subType name="ComputableKnowledgeArtifact"
                        type="tns:ComputableKnowledgeArtifact"
                        about=""/>
               <subType name="Collection" type="tns:Collection" about=""/>
            </subTypes>
         </xs:appinfo>
      </xs:annotation>
      <xs:group ref="KnowledgeResource.content"/>
      <xs:attributeGroup ref="KnowledgeResource.attrs"/>
   </xs:complexType>
   <xs:group name="KnowledgeResource.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                     name="secondaryId"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="tns:ID"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="related"
                     type="tns:Association"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="citations"
                     type="tns:Citation"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="memberOf"
                     type="tns:Collection"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="policies"
                     type="tns:Policy"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="lifecycle"
                     type="tns:Publication"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="KnowledgeResource.attrs">
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="description" type="xs:string"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="seoDescription" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="association" type="Association"/>
   <xs:complexType xmi:id="_6tQE4DHCEei6yfLjYxGyzQ" name="Association" abstract="true">
      <xs:annotation>
         <xs:appinfo>
            <subTypes xmlns="">
               <subType name="Component" type="tns:Component" about=""/>
               <subType name="Derivative" type="tns:Derivative" about=""/>
               <subType name="Dependency" type="tns:Dependency" about=""/>
               <subType name="Variant" type="tns:Variant" about=""/>
               <subType name="Version" type="tns:Version" about=""/>
            </subTypes>
         </xs:appinfo>
      </xs:annotation>
      <xs:group ref="Association.content"/>
      <xs:attributeGroup ref="Association.attrs"/>
   </xs:complexType>
   <xs:group name="Association.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                     name="rol"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tns:ConceptIdentifier"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="tgt"
                     type="tns:KnowledgeResource"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Association.attrs"/>
   <xs:element name="computableKnowledgeArtifact" type="ComputableKnowledgeArtifact"/>
   <xs:complexType xmi:id="_J7tZ0DHIEei6yfLjYxGyzQ" name="ComputableKnowledgeArtifact">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                       base="tns:DigitalKnowledgeArtifact">
            <xs:group ref="ComputableKnowledgeArtifact.content"/>
            <xs:attributeGroup ref="ComputableKnowledgeArtifact.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="ComputableKnowledgeArtifact.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="representation"
                     type="tns:Representation"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ComputableKnowledgeArtifact.attrs"/>
   <xs:element name="component" type="Component"/>
   <xs:complexType xmi:id="_hWvLMDY5Eei15p--LK6pPw" name="Component">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate" base="tns:Association">
            <xs:group ref="Component.content"/>
            <xs:attributeGroup ref="Component.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="Component.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/Rel/StructuralRelType/20190801/"
                     name="rel"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:StructuralPartType"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Component.attrs"/>
   <xs:element name="derivative" type="Derivative"/>
   <xs:complexType xmi:id="_iZY7ADY5Eei15p--LK6pPw" name="Derivative">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate" base="tns:Association">
            <xs:group ref="Derivative.content"/>
            <xs:attributeGroup ref="Derivative.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="Derivative.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/Rel/DerivationRelType/20190801/"
                     name="rel"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:DerivationType"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Derivative.attrs"/>
   <xs:element name="dependency" type="Dependency"/>
   <xs:complexType xmi:id="_sCBpMDY5Eei15p--LK6pPw" name="Dependency">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate" base="tns:Association">
            <xs:group ref="Dependency.content"/>
            <xs:attributeGroup ref="Dependency.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="Dependency.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/Rel/DependencyRelType/20190801/"
                     name="rel"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tns:DependencyType"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Dependency.attrs"/>
   <xs:element name="variant" type="Variant"/>
   <xs:complexType xmi:id="_OeF4QDdMEeixDIr3UM6KGQ" name="Variant">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate" base="tns:Association">
            <xs:group ref="Variant.content"/>
            <xs:attributeGroup ref="Variant.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="Variant.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/Rel/VariantRelType/20190801/"
                     name="rel"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:VariantType"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Variant.attrs"/>
   <xs:element name="summary" type="Summary"/>
   <xs:complexType xmi:id="_UGENYDdMEeixDIr3UM6KGQ" name="Summary">
      <xs:group ref="Summary.content"/>
      <xs:attributeGroup ref="Summary.attrs"/>
   </xs:complexType>
   <xs:group name="Summary.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/Rel/SummaryRelType/20190801/"
                     name="rel"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:SummarizationType"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Summary.attrs">
      <xs:attribute name="text" use="required" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="version" type="Version"/>
   <xs:complexType xmi:id="_2lhEIDdMEeixDIr3UM6KGQ" name="Version">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate" base="tns:Association">
            <xs:group ref="Version.content"/>
            <xs:attributeGroup ref="Version.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="Version.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/Rel/RelatedVersionType/20190801/"
                     name="rel"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:RelatedVersionType"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Version.attrs"/>
   <xs:element name="citation" type="Citation"/>
   <xs:complexType xmi:id="_dUIEgDexEeixDIr3UM6KGQ" name="Citation">
      <xs:group ref="Citation.content"/>
      <xs:attributeGroup ref="Citation.attrs"/>
   </xs:complexType>
   <xs:group name="Citation.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/Rel/CitationRelType/2018-02-16"
                     name="rel"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:BibliographicCitationType"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Citation.attrs">
      <xs:attribute name="bibliography" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="representation" type="Representation"/>
   <xs:complexType xmi:id="__0vJID8VEeiX9L9i7GIh0w" name="Representation">
      <xs:group ref="Representation.content"/>
      <xs:attributeGroup ref="Representation.attrs"/>
   </xs:complexType>
   <xs:group name="Representation.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KRLanguage/20190801/"
                     name="language"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:KnowledgeRepresentationLanguage"/>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KRProfile/20190801/"
                     name="profile"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tns:KnowledgeRepresentationLanguageProfile"/>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                     name="complexity"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tns:ConceptIdentifier"/>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KRFormat/20190801/"
                     name="format"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tns:SerializationFormat"/>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/Lexicon/20190801/"
                     name="lexicon"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="tns:Lexicon"/>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KRSerialization/20190801/"
                     name="serialization"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tns:KnowledgeRepresentationLanguageSerialization"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="with"
                     type="tns:SubLanguage"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Representation.attrs">
      <xs:attribute name="logic" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="subLanguage" type="SubLanguage"/>
   <xs:complexType xmi:id="_RKg2cEG5EeiX9L9i7GIh0w" name="SubLanguage">
      <xs:group ref="SubLanguage.content"/>
      <xs:attributeGroup ref="SubLanguage.attrs"/>
   </xs:complexType>
   <xs:group name="SubLanguage.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/LanguageRole/20190801/"
                     name="role"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tns:KnowledgeRepresentationLanguageRole"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="subLanguage"
                     type="tns:Representation"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SubLanguage.attrs"/>
   <xs:element name="collection" type="Collection"/>
   <xs:complexType xmi:id="_AHXWMHv0EemZSqm7_V2CLg" name="Collection">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                       base="tns:KnowledgeResource">
            <xs:group ref="Collection.content"/>
            <xs:attributeGroup ref="Collection.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="Collection.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="Collection.attrs"/>
   <xs:element name="physicalKnowledgeArtifact" type="PhysicalKnowledgeArtifact"/>
   <xs:complexType xmi:id="_8vn30H1zEemZSqm7_V2CLg" name="PhysicalKnowledgeArtifact">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                       base="tns:KnowledgeArtifact">
            <xs:group ref="PhysicalKnowledgeArtifact.content"/>
            <xs:attributeGroup ref="PhysicalKnowledgeArtifact.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="PhysicalKnowledgeArtifact.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="PhysicalKnowledgeArtifact.attrs"/>
   <xs:element name="digitalKnowledgeArtifact" type="DigitalKnowledgeArtifact"/>
   <xs:complexType xmi:id="_LU0moH10EemZSqm7_V2CLg" name="DigitalKnowledgeArtifact">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                       base="tns:KnowledgeArtifact">
            <xs:group ref="DigitalKnowledgeArtifact.content"/>
            <xs:attributeGroup ref="DigitalKnowledgeArtifact.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="DigitalKnowledgeArtifact.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="DigitalKnowledgeArtifact.attrs">
      <xs:attribute name="mimeType" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="policy" type="Policy"/>
   <xs:complexType xmi:id="_FuIz8H0REemZSqm7_V2CLg" name="Policy">
      <xs:group ref="Policy.content"/>
      <xs:attributeGroup ref="Policy.attrs"/>
   </xs:complexType>
   <xs:group name="Policy.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                     name="identifier"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:URIIdentifier"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Policy.attrs"/>
   <xs:element name="publication" type="Publication"/>
   <xs:complexType xmi:id="_b9KlcH0SEemZSqm7_V2CLg" name="Publication">
      <xs:group ref="Publication.content"/>
      <xs:attributeGroup ref="Publication.attrs"/>
   </xs:complexType>
   <xs:group name="Publication.content">
      <xs:sequence>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/PublicationStatus/2014-02-01"
                     name="publicationStatus"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:PublicationStatus"/>
         <xs:element xmlns:tns="http://kmdp.mayo.edu/metadata/surrogate"
                     name="associatedTo"
                     type="tns:Party"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Publication.attrs">
      <xs:attribute name="createdOn" type="xs:date"/>
      <xs:attribute name="reviewCycle" type="xs:duration"/>
      <xs:attribute name="lastReviewedOn" type="xs:dateTime"/>
      <xs:attribute name="issuedOn" type="xs:dateTime"/>
   </xs:attributeGroup>
   <xs:element name="party" type="Party"/>
   <xs:complexType xmi:id="_gWPegH0SEemZSqm7_V2CLg" name="Party">
      <xs:group ref="Party.content"/>
      <xs:attributeGroup ref="Party.attrs"/>
   </xs:complexType>
   <xs:group name="Party.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                     name="identifier"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:URIIdentifier"/>
         <xs:element xmlns:tns="https://ontology.mayo.edu/taxonomies/KAO/PublishingRole/2017-09-04"
                     name="publishingRole"
                     minOccurs="1"
                     maxOccurs="1"
                     type="tns:PublishingRole"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Party.attrs"/>
</xs:schema>
