kmdp-asset-metadata/src/main/resources/xsd/API4KP/api4kp/services/transrepresentation/transrepresentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.omg.org/spec/API4KP/1.0/services/tranx"
           xmlns:xmi="http://www.omg.org/spec/XMI/20131001"
           xmlns:ns1="http://www.omg.org/spec/API4KP/1.0/services"
           xmlns:ns2="http://www.omg.org/spec/API4KP/1.0/identifiers"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.omg.org/spec/API4KP/1.0/services/tranx">
   <xs:import namespace="http://www.omg.org/spec/API4KP/1.0/services"
              schemaLocation="../services.xsd"/>
   <xs:import namespace="http://www.omg.org/spec/API4KP/1.0/identifiers"
              schemaLocation="../../identifiers/identifiers.xsd"/>
   <xs:element name="transrepresentator" type="Transrepresentator"/>
   <xs:complexType xmi:id="_cqd9MFkTEeiseY4eaZPeLw" name="Transrepresentator">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                       base="tns:KnowledgePlatformComponent">
            <xs:group ref="Transrepresentator.content"/>
            <xs:attributeGroup ref="Transrepresentator.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="Transrepresentator.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services/tranx"
                     name="txions"
                     type="tns:Transrepresentation"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Transrepresentator.attrs"/>
   <xs:element name="transrepresentationMethod" type="TransrepresentationMethod"/>
   <xs:complexType xmi:id="_Wj58sFkVEeiseY4eaZPeLw" name="TransrepresentationMethod">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                       base="tns:KnowledgeProcessingMethod">
            <xs:group ref="TransrepresentationMethod.content"/>
            <xs:attributeGroup ref="TransrepresentationMethod.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="TransrepresentationMethod.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="TransrepresentationMethod.attrs"/>
   <xs:element name="transrepresentation" type="Transrepresentation"/>
   <xs:complexType xmi:id="_JH_MUFkkEei7wf-vECnVrw" name="Transrepresentation">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                       base="tns:KnowledgeProcessingTask">
            <xs:group ref="Transrepresentation.content"/>
            <xs:attributeGroup ref="Transrepresentation.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="Transrepresentation.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/identifiers"
                     name="type"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="tns:ConceptIdentifier"/>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services/tranx"
                     name="method"
                     type="tns:TransrepresentationMethod"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                     name="consumes"
                     type="tns:SyntacticRepresentation"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                     name="produces"
                     type="tns:SyntacticRepresentation"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services/tranx"
                     name="exec"
                     type="tns:TransrepresentationOperator"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="Transrepresentation.attrs"/>
   <xs:element name="transrepresentationOperator" type="TransrepresentationOperator"/>
   <xs:complexType xmi:id="_JSs6oFk8Eei7wf-vECnVrw" name="TransrepresentationOperator">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                       base="tns:KnowledgeProcessingOperator">
            <xs:group ref="TransrepresentationOperator.content"/>
            <xs:attributeGroup ref="TransrepresentationOperator.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="TransrepresentationOperator.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                     name="from"
                     type="tns:SyntacticRepresentation"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                     name="into"
                     type="tns:SyntacticRepresentation"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="TransrepresentationOperator.attrs"/>
   <xs:element name="deserializer" type="Deserializer"/>
   <xs:complexType xmi:id="_8xTLwH7dEeqTcZyxH9woBA" name="Deserializer">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                       base="tns:KnowledgePlatformComponent">
            <xs:group ref="Deserializer.content"/>
            <xs:attributeGroup ref="Deserializer.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="Deserializer.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="Deserializer.attrs"/>
   <xs:element name="deserializationOperator" type="DeserializationOperator"/>
   <xs:complexType xmi:id="_90MzMH7dEeqTcZyxH9woBA" name="DeserializationOperator">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                       base="tns:KnowledgeProcessingOperator">
            <xs:group ref="DeserializationOperator.content"/>
            <xs:attributeGroup ref="DeserializationOperator.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="DeserializationOperator.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                     name="from"
                     type="tns:SyntacticRepresentation"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                     name="into"
                     type="tns:SyntacticRepresentation"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="DeserializationOperator.attrs"/>
   <xs:element name="validator" type="Validator"/>
   <xs:complexType xmi:id="_Gr2wYH7eEeqTcZyxH9woBA" name="Validator">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                       base="tns:KnowledgePlatformComponent">
            <xs:group ref="Validator.content"/>
            <xs:attributeGroup ref="Validator.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="Validator.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="Validator.attrs"/>
   <xs:element name="detector" type="Detector"/>
   <xs:complexType xmi:id="_H-5FkH7eEeqTcZyxH9woBA" name="Detector">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                       base="tns:KnowledgePlatformComponent">
            <xs:group ref="Detector.content"/>
            <xs:attributeGroup ref="Detector.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="Detector.content">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="Detector.attrs"/>
   <xs:element name="validationOperator" type="ValidationOperator"/>
   <xs:complexType xmi:id="_PKcGQH7eEeqTcZyxH9woBA" name="ValidationOperator">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                       base="tns:KnowledgeProcessingOperator">
            <xs:group ref="ValidationOperator.content"/>
            <xs:attributeGroup ref="ValidationOperator.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="ValidationOperator.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                     name="from"
                     type="tns:SyntacticRepresentation"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ValidationOperator.attrs"/>
   <xs:element name="detectionOperator" type="DetectionOperator"/>
   <xs:complexType xmi:id="_QwrrUH7eEeqTcZyxH9woBA" name="DetectionOperator">
      <xs:complexContent>
         <xs:extension xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                       base="tns:KnowledgeProcessingOperator">
            <xs:group ref="DetectionOperator.content"/>
            <xs:attributeGroup ref="DetectionOperator.attrs"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:group name="DetectionOperator.content">
      <xs:sequence>
         <xs:element xmlns:tns="http://www.omg.org/spec/API4KP/1.0/services"
                     name="into"
                     type="tns:SyntacticRepresentation"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="DetectionOperator.attrs"/>
</xs:schema>
